.sn-fileDisplay
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: auto
  background: #fff
  border: 1px solid #eee
  .bg-overlay
    width: 28px
    background-color: #f7f7f7
    border-right: 1px solid #ddd
    position: absolute
    top: 0
    bottom: 0
  .CodeMirror
    height: auto
