/.bundle
/db/*.sqlite3
/log/*.log
/tmp
.DS_Store
database.yml
.ruby-gemset
dump.rdb
/coverage
.*.sw*
/public/assets
test.log
development.log
campus_development.rb
/campus-templates
/node_modules
/campus-courses
/courses
.powrc
nohup.out
.travis
